<!DOCTYPE html>
<html>
<head>
    <title>Add Book to DataBase</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <div id="orders_list">

    <input class="search" />


  <% for (const i in data) { %>
    <ul class="list">ORDER NR <%= data[i].dataValues.order_id %>  </ul>
    <li>Created at <%= data[i].dataValues.createdAt %></li>
    <li>Number of files at <%= data[i].dataValues.number_of_files %></li>
    <li>Order description at <%= data[i].dataValues.order_description %></li>
    <li>Retouch <%= data[i].dataValues.additional_options_retouch %></li>
    <li>Light/color correction <%= data[i].dataValues.additional_options_light_color %></li>
    <li>Crop image <%= data[i].dataValues.additional_options_crop %></li>
    <li>Add shadow <%= data[i].dataValues.additional_options_shadow %></li>
    <li>Order status <%= data[i].dataValues.order_status %></li>
    <li>Completion date <%= data[i].dataValues.completion_date %></li>
    <li>Link <%= data[i].dataValues.link %></li>

    </ul>
  <% } %>
  </div>    




</body>

</html>